@font-face {
    font-family: 'HelveticaNeue LT 95';
    src: url('HelveticaNeueLT-Black.woff2') format('woff2'),
        url('HelveticaNeueLT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
